.dropdown {
	position: fixed;
	display: block;

	width: 100vw;
	min-height: fit-content;

	z-index: 1;
	background: red;
}

.sensor {
	position: fixed;
	display: block;

	width: 100vw;
	height: 100px;

	background: rgba(128, 128, 128, 0.8);
}
